<p class="{{#fixed}}closed{{/fixed}}{{^fixed}}opened{{/fixed}}">
    <input class="state" type="checkbox" {{#fixed}}checked="checked"{{/fixed}} id="chb-{{id}}"/>
    <label for="chb-{{id}}">{{#fixed}}Закрыт{{/fixed}}{{^fixed}}Открыт{{/fixed}}</label>
</p>