div.container {
    /*min-width: 600px;*/
}

div.row div.reportsTable {
    padding: 0;
}

div.subtitle {
    background-color: #2296F4;
}

div.title {
    background-color: #33B8DA;
    border-radius: 0 0 1em 1em;
}

div.title a {
    color: #FFF;
}

#reportsTable td, th {
    padding: 3px 3px;
    font-family: Roboto, sans-serif;
}

#reportsTable select {
    display: inline-block;
    padding: 0;
    margin: 0;
    height: auto;
    width: auto;
    color: #000000;
}

#reportsTable tr.jtable-no-data-row td {
    padding: 10px;
    text-align: center;
}

#reportsTable tr {
    height: 35px;
}

#reportsTable i {
    font-size: 20px;
}

#reportsTable div.state div.progress {
    display: none;
}

#reportsTable div.state.loading div.progress {
    display: block;
}

#reportsTable div.state.loading p.state {
    display: none;
}

#reportsTable p {
    margin: 0;
    padding-left: 2px;
}

#reportsTable div.state[data-state="false"] [type="checkbox"] + label:before {
    border-color: #ff786e;
}

#reportsTable div.state[data-state="false"] label {
    color: #ff786e;
}

#reportsTable div.state[data-state="true"] label {
    color: #7cc68c;
}

#reportsTable div.progress {
    background-color: #E8E8E8;
}

#reportsTable div.progress div.indeterminate {
    background-color: #71B5ED;
}

#reportsTable p [type="checkbox"]:checked + label:before {
    border: 2px solid transparent;
    border-right-color: #7cc68c;
    border-bottom-color: #7cc68c;
}

#reportsTable [type="checkbox"] + label {
    padding-left: 28px;
}

#reportsTable [type="checkbox"]:not(:checked):disabled + label:before {
    border: 2px solid #ff786e;
    background-color: transparent;
}

#reportsTable div.jtable-main-container > table.jtable > thead th.jtable-column-header-sortable:not(.jtable-column-header-sorted-asc):not(.jtable-column-header-sorted-desc) div.jtable-column-header-container
{
    background: transparent;
}

#reportsTable i.count {
    font-size: 15px;
}

#reportsTable button.jtable-delete-command-button span {
    display: none;
}

div.filter div.collapsible-header {
    color: #8f8f8f;
}

div.filter div.collapsible-header:hover {
    color: #363636;
}

div.filter div.select {
    width: 25%;
}

@media only screen and (max-width: 900px) {
    div.filter div.select {
        width: 100%;
    }
}

/* Edit page */
#edit h3 {
    color: #2296F4;
}
