div.container {
    /*min-width: 600px;*/
}

div.row div.reportsTable {
    padding: 0;
}

div.subtitle {
    background-color: #2296F4;
}

div.title {
    background-color: #33B8DA;
    border-radius: 0 0 1em 1em;
}

#reportsTable td, th {
    padding: 3px 3px;
    font-family: Roboto, sans-serif;
}

#reportsTable select {
    display: inline-block;
    padding: 0;
    margin: 0;
    height: auto;
    width: auto;
    color: #000000;
}

#reportsTable tr.jtable-no-data-row td {
    padding: 10px;
    text-align: center;
}

#reportsTable tr {
    height: 35px;
}

#reportsTable i {
    font-size: 20px;
}

#reportsTable div.jtable-main-container > table.jtable > thead th.jtable-column-header-sortable:not(.jtable-column-header-sorted-asc):not(.jtable-column-header-sorted-desc) div.jtable-column-header-container
{
    background: transparent;
}

div.filter div.collapsible-header {
    color: #8f8f8f;
}

div.filter div.collapsible-header:hover {
    color: #363636;
}

div.filter div.select {
    width: 25%;
}

@media only screen and (max-width: 900px) {
    div.filter div.select {
        width: 100%;
    }
}

/* Edit page */
#edit h3 {
    color: #2296F4;
}
